body{
	color: aliceblue;
}
.contenedor{
	max-width: 80%;
	margin: 1rem auto;
	display: flex;
	flex-wrap: wrap;
}

header{
	background: #743abf;
	padding: 1rem;
	display: flex;
	justify-content:  space-between;
	align-items: center;
	flex: 1 1 100%;
	order: 0;
	
	
}

header a img{
	flex: 0 1 70px;
	
}
header a img{
	width: 100%;
	
}
header nav ul{
	margin: 0;
	display: flex;
	justify-content: flex-end;
	list-style:none;
}
header nav ul li a {
	color: aliceblue;
	background: red;
	padding: 1rem;
	margin: .5rem;
	display: flex;
	border-radius: 5px;
	text-decoration: none;
}

 
.contenido{
	background: #2020b9;
	flex:3 1 0px;
	padding: 1rem;
	order: 2;
}

.lateral-1{
	background: #3285b1;
	flex: 1 1 0px;
	padding: 1rem;
	order:1;
	
}

.lateral-2{
	background: #3285b1;
	flex: 1 1 0px;
	padding: 1rem;
	order: 3
	
	
}

footer{
	background: #170b77;
	color: antiquewhite;
	text-align:center;
	flex: 1 1 100%;
	order: 4;
}