//--------------------
// patron de colores
//--------------------
$texto:#111111;
$principal:#12AFAF;
$secundario:#009500;

html {
	font-size: 15px;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: $texto;
}

.encabezado {
	background: $texto;
	color: antiquewhite;
	padding: .5rem 0;
}

continer{
	display: flex;
}
