//--------------------
// patron de colores
//--------------------
$texto:#111111;
$principal:#0fc7a1;
$secundario:#009500;

html {
	font-size: 15px;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: $texto;
}

.bienvenido {

	background: url("../Images/fondo.jpg") no-repeat center top;
	color: #f8f8f8;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
}



.encabezado {
	background: #585555;
	color: #fff;
	padding: .5rem 0;
}

.encabezado .container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.encabezado .logo img {
	width: 200px;
	height: auto;
}

.boton-buscar,
.boton-menu {
	border: 0;
	font-size: 2rem;
	margin: 0;
	padding: 0 .3rem;
	background: transparent;
	color: aliceblue;
}

.boton-buscar:focus,
.boton-menu:focus {
	outline: 0;

}

.boton-buscar {
	margin-left: auto;
}

.contenedor-bloque-buscar {
	display: flex;
	height: 3rem;
	margin: 1rem 0;
}

#bloque-buscar {
	flex: 1 1 1005;
}

.contenedor-bloque-buscar input[type="text"] {
	border: 0;
	border-radius: 5px 0 0 5px;
	padding: 1rem;
}

.contenedor-bloque-buscar input[type="submit"] {
	flex: 1 1 auto;
	border: 0;
	border-radius: 0 5px 5px 0;
	background: $principal;
	color: #ffff;

}

#menu-principal {
	flex: 1 1 100%;
}

#menu-principal ul {
	padding: 0;
	list-style: none;
	margin: 1rem 0 0 0;
}

#menu-principal ul a {
	display: block;
	padding: .8rem 0;
	text-align: center;
	color: white;
	text-transform: uppercase;
	border-top: 1px solid #8c8888;
	text-decoration: none;

}

#menu-principal ul a:hover #menu-principal ul li.active a {
	color: $principal;
}
 
.texto-encabezado {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
} 


.texto-encabezado .display-4 {
	margin-top: 4rem;
}

.btn-primary {
	color: white;
	background: $principal;
	border-color: transparent;
	margin-top: 1rem;
	transition: all .3s ease;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
	background-color: $secundario;
	border-color: transparent;
}

.flecha-bajar a {
	display: inline-block;
	color: #ffffff;
	font-size: 4rem;
	animation: flecha-animada 2s ease-in-out infinite;
}

@keyframes flecha-animada {
	from {
		transform: translateY(0);
	}

	50% {
		transform: translateY(6px);
	}

	to {
		transform: translateY(0);
	}

}

//--------------------------------
//        agencia
//--------------------------------

.agencia{
	background: $principal;
	color: white;
	}
.agencia img{
	margin: 0 auto;
	display: block;
}
